[submodule "src/fluent-command-line-parser"]
	path = src/fluent-command-line-parser
	url = https://github.com/WouterTinus/fluent-command-line-parser
[submodule "src/ACMESharpCore"]
	path = src/ACMESharpCore
	url = https://github.com/WouterTinus/ACMESharpCore.git
	branch = win-acme
