<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="LetsEncrypt.ACME.Simple.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <LetsEncrypt.ACME.Simple.Core.Properties.Settings>
      <setting name="FileDateFormat" serializeAs="String">
        <value>yyyy/M/d h:m:s tt</value>
      </setting>
      <setting name="PFXPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="RSAKeyBits" serializeAs="String">
        <value>2048</value>
      </setting>
      <setting name="HostsPerPage" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="CertificatePath" serializeAs="String">
        <value />
      </setting>
      <setting name="RenewalDays" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="CertificateStore" serializeAs="String">
        <value>WebHosting</value>
      </setting>
      <setting name="CleanupFolders" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PrivateKeyExportable" serializeAs="String">
        <value>True</value>
      </setting>
    </LetsEncrypt.ACME.Simple.Core.Properties.Settings>
  </applicationSettings>
</configuration>