<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings"
                  type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LetsEncrypt.ACME.Simple.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="serilog:minimum-level" value="Warning" />
    <add key="serilog:using" value="Serilog.Sinks.EventLog" />
    <add key="serilog:write-to:EventLog.source" value="letsencrypt_win_simple" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <applicationSettings>
    <LetsEncrypt.ACME.Simple.Properties.Settings>
      <setting name="FileDateFormat" serializeAs="String">
        <value>yyyy/M/d h:m:s tt</value>
      </setting>
      <setting name="PFXPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="RSAKeyBits" serializeAs="String">
        <value>2048</value>
      </setting>
      <setting name="HostsPerPage" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="CertificatePath" serializeAs="String">
        <value />
      </setting>
      <setting name="RenewalDays" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="CertificateStore" serializeAs="String">
        <value>WebHosting</value>
      </setting>
      <setting name="CleanupFolders" serializeAs="String">
        <value>True</value>
      </setting>
    </LetsEncrypt.ACME.Simple.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider"
             type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider"
             type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>