<PKISharp.WACS.Properties.Settings>
  <setting name="FileDateFormat" serializeAs="String">
    <value>yyyy/M/d H:mm:ss</value>
  </setting>
  <setting name="RSAKeyBits" serializeAs="String">
    <value>3072</value>
  </setting>
  <setting name="HostsPerPage" serializeAs="String">
    <value>50</value>
  </setting>
  <setting name="CertificatePath" serializeAs="String">
    <value></value>
  </setting>
  <setting name="CleanupFolders" serializeAs="String">
    <value>True</value>
  </setting>
  <setting name="PrivateKeyExportable" serializeAs="String">
    <value>True</value>
  </setting>
  <setting name="ConfigurationPath" serializeAs="String">
    <value></value>
  </setting>
  <setting name="Proxy" serializeAs="String">
    <value>[System]</value>
  </setting>
  <setting name="ProxyUsername" serializeAs="String">
    <value></value>
  </setting>
  <setting name="ProxyPassword" serializeAs="String">
    <value></value>
  </setting>
  <setting name="RenewalDays" serializeAs="String">
    <value>55</value>
  </setting>
  <setting name="DefaultCertificateStore" serializeAs="String">
    <value></value>
  </setting>
  <setting name="ScheduledTaskExecutionTimeLimit" serializeAs="String">
    <value>02:00:00</value>
  </setting>
  <setting name="ScheduledTaskRandomDelay" serializeAs="String">
    <value>00:00:00</value>
  </setting>
  <setting name="ScheduledTaskStartBoundary" serializeAs="String">
    <value>09:00:00</value>
  </setting>
  <setting name="ClientName" serializeAs="String">
    <value>win-acme</value>
  </setting>
  <setting name="EncryptConfig" serializeAs="String">
    <value>True</value>
  </setting>
  <setting name="SavePrivateKeyPem" serializeAs="String">
    <value>False</value>
  </setting>
  <setting name="DefaultBaseUri" serializeAs="String">
    <value>https://acme-v02.api.letsencrypt.org/</value>
  </setting>
  <setting name="DefaultBaseUriTest" serializeAs="String">
    <value>https://acme-staging-v02.api.letsencrypt.org/</value>
  </setting>
  <setting name="DefaultBaseUriImport" serializeAs="String">
    <value>https://acme-v01.api.letsencrypt.org/</value>
  </setting>
  <setting name="SmtpServer" serializeAs="String">
    <value></value>
  </setting>
  <setting name="SmtpPort" serializeAs="String">
    <value>25</value>
  </setting>
  <setting name="SmtpUser" serializeAs="String">
    <value></value>
  </setting>
  <setting name="SmtpPassword" serializeAs="String">
    <value></value>
  </setting>
  <setting name="SmtpSecure" serializeAs="String">
    <value>False</value>
  </setting>
  <setting name="SmtpSenderName" serializeAs="String">
    <value></value>
  </setting>
  <setting name="SmtpSenderAddress" serializeAs="String">
    <value></value>
  </setting>
  <setting name="SmtpReceiverAddress" serializeAs="String">
    <value></value>
  </setting>
  <setting name="DnsServer" serializeAs="String">
    <value>208.67.222.222</value>
  </setting>
</PKISharp.WACS.Properties.Settings>
